- path: /etc/nvidia/nvidia-application-profiles-rc.d/50-limit-free-buffer-pool-in-wayland-compositors.json
  content: |
    {
        "rules": [
            {
                "pattern": {
                    "feature": "procname",
                    "matches": "niri"
                },
                "profile": "Limit Free Buffer Pool On Wayland Compositors"
            }
        ],
        "profiles": [
            {
                "name": "Limit Free Buffer Pool On Wayland Compositors",
                "settings": [
                    {
                        "key": "GLVidHeapReuseRatio",
                        "value": 0
                    }
                ]
            }
        ]
    }

- path: usr/libexec/zidle
  content: |
    #!/usr/bin/env bash

    set -x

    LOCKING_COMMAND=""

    if systemctl is-active --quiet --user dms ; then
      LOCKING_COMMAND="dms ipc call lock lock"
    fi

    swayidle -w timeout 601 'niri msg action power-off-monitors' timeout 600 "${LOCKING_COMMAND}" before-sleep "${LOCKING_COMMAND}"
  permissions: "755"

- path: /usr/lib/systemd/zram-generator.conf
  content: |
    [zram0]
    zram-size = min(ram, 8192)

- path: /usr/lib/systemd/system-preset/91-resolved-default.preset
  content: |
    enable systemd-resolved.service

- path: /usr/lib/tmpfiles.d/resolved-default.conf
  content: |
    L /etc/resolv.conf - - - - ../run/systemd/resolve/stub-resolv.conf

- path: /etc/greetd/config.toml
  content: |
    [general]
    service = "greetd-spawn"

    [terminal]
    vt = 1

    [default_session]
    command = "dms-greeter --command niri"
    user = "greeter"

- path: /etc/greetd/greetd-spawn.pam_env.conf
  content: |
    XDG_SESSION_TYPE DEFAULT=wayland OVERRIDE=wayland

- path: /etc/pam.d/greetd-spawn
  content: |
    auth       include      greetd
    auth       required     pam_env.so conffile=/etc/greetd/greetd-spawn.pam_env.conf
    account    include      greetd
    session    include      greetd

- path: /usr/lib/systemd/user/dms.service
  content: |
    [Unit]
    Description=Shell Service
    PartOf=graphical-session.target
    After=graphical-session.target

    [Service]
    ExecStart=dms run
    Restart=on-failure
    RestartSec=1

    [Install]
    WantedBy=graphical-session.target

- path: /usr/lib/systemd/user/swayidle.service
  content: |
    [Unit]
    Description=Idling daemon
    # PartOf=graphical-session.target
    After=graphical-session.target

    [Service]
    ExecStart=/usr/libexec/zidle
    Restart=on-failure
    RestartSec=1

    [Install]
    WantedBy=graphical-session.target

- path: /usr/lib/systemd/user/cliphist.service
  content: |
    [Unit]
    Description=Clipboard History service
    PartOf=graphical-session.target
    After=graphical-session.target

    [Service]
    ExecStart=wl-paste --watch cliphist store
    Restart=on-failure
    RestartSec=1

    [Install]
    WantedBy=graphical-session.target

- path: /usr/share/libinput/zz1-00-lenovo.quirks
  content: |
    [Lenovo Ideapad Gaming 3]
    MatchUdevType=keyboard
    MatchVendor=0x048D
    MatchProduct=0xC976
    AttrKeyboardIntegration=internal

- path: /usr/lib/tuned/profiles/throughput-performance-bazzite/tuned.conf
  content: |
    #
    # tuned configuration
    #

    [main]
    summary = General non-specialized tuned profile with added Bazzite tweaks
    include = throughput-performance

    [audio]
    # See 17c869d
    timeout=0

    [sysctl]
    # The swappiness parameter controls the tendency of the kernel to move
    # processes out of physical memory and onto the swap disk.
    # 0 tells the kernel to avoid swapping processes out of physical memory
    # for as long as possible
    # 100 tells the kernel to aggressively swap processes out of physical memory
    # and move them to swap cache
    vm.swappiness = 180

    vm.watermark_boost_factor = 0
    vm.watermark_scale_factor = 125
    vm.dirty_bytes = 268435456
    vm.dirty_background_bytes = 134217728
    vm.page-cluster = 0

- path: /usr/lib/tuned/profiles/balanced-bazzite/tuned.conf
  content: |
    #
    # tuned configuration
    #

    [main]
    summary = General non-specialized tuned profile with added Bazzite tweaks
    include = balanced

    [audio]
    # See 17c869d
    timeout=0

    [sysctl]
    # The swappiness parameter controls the tendency of the kernel to move
    # processes out of physical memory and onto the swap disk.
    # 0 tells the kernel to avoid swapping processes out of physical memory
    # for as long as possible
    # 100 tells the kernel to aggressively swap processes out of physical memory
    # and move them to swap cache
    vm.swappiness = 180

    vm.watermark_boost_factor = 0
    vm.watermark_scale_factor = 125
    vm.dirty_bytes = 268435456
    vm.dirty_background_bytes = 134217728
    vm.page-cluster = 0

- path: /usr/lib/tuned/profiles/balanced-battery-bazzite/tuned.conf
  content: |
    #
    # tuned configuration
    #

    [main]
    summary = Balanced profile biased towards power savings changes for battery with added Bazzite tweaks
    include = balanced-bazzite

    [cpu]
    energy_performance_preference=balance_power
    boost=1

    [audio]
    timeout=10

    [video]
    panel_power_savings=1

- path: /etc/pipewire/pipewire.conf.d/virtual-channels.conf
  content: |
    context.modules = [
        { name = libpipewire-module-loopback
            args = {
                node.description = "Game"
                capture.props = {
                    node.name      = "game_output"
                    media.class    = "Audio/Sink"
                    audio.position = [ FL FR ]
                }
                playback.props = {
                    node.name      = "playback.game_output"
                    audio.position = [ FL FR ]
                    node.passive   = true
                }
            }
        }
        { name = libpipewire-module-loopback
            args = {
                node.description = "Voice"
                capture.props = {
                    node.name      = "voice_output"
                    media.class    = "Audio/Sink"
                    audio.position = [ FL FR ]
                }
                playback.props = {
                    node.name      = "playback.voice_output"
                    audio.position = [ FL FR ]
                    node.passive   = true
                }
            }
        }
        { name = libpipewire-module-loopback
            args = {
                node.description = "Browser"
                capture.props = {
                    node.name      = "browser_output"
                    media.class    = "Audio/Sink"
                    audio.position = [ FL FR ]
                }
                playback.props = {
                    node.name      = "playback.browser_output"
                    audio.position = [ FL FR ]
                    node.passive   = true
                }
            }
        }
        { name = libpipewire-module-loopback
            args = {
                node.description = "Music"
                capture.props = {
                    node.name      = "music_output"
                    media.class    = "Audio/Sink"
                    audio.position = [ FL FR ]
                }
                playback.props = {
                    node.name      = "playback.music_output"
                    audio.position = [ FL FR ]
                    node.passive   = true
                }
            }
        }
    ]

- path: /usr/lib/systemd/user/opentabletdriver.service
  content: |
    [Unit]
    Description=OpenTabletDriver Daemon
    PartOf=graphical-session.target
    After=graphical-session.target
    ConditionEnvironment=|WAYLAND_DISPLAY
    ConditionEnvironment=|DISPLAY

    [Service]
    ExecStart=otd-daemon
    Restart=always
    RestartSec=3

    [Install]
    WantedBy=graphical-session.target
