---
name: Build disk image
on:
  workflow_dispatch:

jobs:
  build_release:
    name: Build and release disk image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: read
      id-token: write
    timeout-minutes: 60
    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Mount BTRFS for podman storage
        id: container-storage-action
        uses: ublue-os/container-storage-action@911baca08baf30c8654933e9e9723cb399892140
        continue-on-error: true
        with:
          target-dir: /var/lib/containers
          mount-opts: compress-force=zstd:2

      - name: Build ISO
        id: build-iso
        uses: osbuild/bootc-image-builder-action@main
        with:
          config-file: ./iso.toml
          image: ghcr.io/zerixal/ace-os:main
          types: anaconda-iso
          rootfs: btrfs
          additional-args: --use-librepo=True

      - name: Find ISO to upload
        id: find_iso
        run: |
          ISO_FILE=$(find "${{ steps.build-iso.outputs.output-directory }}" -name "*.iso" | head -n1)
          echo "ISO_FILE=$ISO_FILE" >> $GITHUB_OUTPUT

      - name: Split ISO into 1GB parts
        id: split_iso
        run: |
          mkdir -p ./iso_parts
          split -b 1G "${{ steps.find_iso.outputs.ISO_FILE }}" ./iso_parts/install.part.

      - name: Upload ISO parts to GoFile
        id: upload_parts
        run: |
          for part in ./iso_parts/*; do
            echo "Uploading $part ..."
            URL=$(curl -s -F "file=@$part" https://upload.gofile.io/uploadfile | \
                  python3 -c "import sys, json; print(json.load(sys.stdin)['data']['downloadPage'])")
            echo "$URL"
          done

      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v5
        with:
          name: ${{ github.event.repository.name }}
          path: ${{ steps.build-iso.outputs.output-directory }}
          if-no-files-found: error
          retention-days: 0
          compression-level: 0
          overwrite: true
